.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #000000;
}

.nav>a {
    text-decoration: none;
    border-radius: 0px;
    color: #000000;
    font-size: 13px !important;
    font-family: Helvetica_up !important;
    font-weight: 300 !important;
    margin-bottom: 0px;
    padding: 12px 20px 12px 20px;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    text-transform: capitalize !important;
    border-left: 5px solid #ffffff;
}

.nav>a:hover {
    background-color: #eaeaea;
    background: #d9d9d9;
    color: #000;
    border-left: 5px solid #ffffff;
}

.nav>a:active {
    background-color: #eaeaea;
    background: #d9d9d9;
    color: #000;
    border-left: 5px solid #ffffff;
}

.sidemenu {
    width: 220px;
    min-height: 87vh;
    border-right: 1px solid #eaeaea;
    transition: all 0.25s ease;
    background-color: rgb(220, 245, 228);
    height: calc(100vh - 132px);
    z-index: 1;
}